.box1{
    width:90%;
	box-sizing: border-box;
	border-radius: 20px;
	padding:60px 30px;
	display:block;
	box-shadow: 5px 5px 12px white;
    justify-content: center;
    align-items: center;
 
}
  
  .container {
   
    display: flex;
    justify-content: center;
    align-items: center;
  
}
  .bg{
	background-color:black;
   
    }
 